<launch>

    <!-- Launch IMU adis16470 and madgwick filter-->
    <include file="$(find adi_driver)/launch/adis16470.launch"/>
    <include file="$(find razor_imu_9dof)/launch/razor-pub-imu-mag.launch"/>
    <include file="$(find srpl_rocket)/launch/srpl_pixy.launch"/>

    <node pkg="srpl_rocket" type="uart_com_node" name="uart_comm_node" output="screen"/>

</launch>
